.mainpaint{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.paintclass{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.paintclass img
{
    width: 45px;
    height: 45px;
    border-radius:50% ;
}
.paintclass p{
    margin-left: 2%;
}